body {
  background-color: #e5e5e5;
}

.navbar {
  background-image: linear-gradient(#e86a0c, #fe4900);
}

main {
  padding-top: 80px;
}

.input-group {
  border-radius: 10px;
}

input {
  font-family: Quicksand, sans-serif;
}

input:focus,
input:not(:focus) {
  border: none;
}

.btn {
  background-image: linear-gradient(#e86a0c, #fe4900);
  border: none;
  border-radius: 0 10px 10px 0;
}

.btn:hover {
  background-image: linear-gradient(#e86a0c, #e86a0c);
}

.btn:active {
  background-image: linear-gradient(#fe4900, #fe4900);
}

.fas {
  color: #fff;
  font-size: 1rem;
}
