* {
  font-family: Quicksand, sans-serif;
}

body {
  background-color: #e5e5e5;
}

#root {
  padding-top: 4rem;
}

.navbar,
.btn {
  background-image: linear-gradient(#e86a0c, #fe4900);
}

.btn:hover {
  background-image: linear-gradient(#e86a0c, #e86a0c);
}

.btn:active {
  background-image: linear-gradient(#fe4900, #fe4900);
}

.input-group {
  border-radius: 10px;
}

.input-group-text {
  background-image: linear-gradient(#fff, #fff);
}

.fa-magnifying-glass,
.fa-location-dot,
.fa-location-crosshairs,
.fa-phone {
  font-size: 1rem;
}

.fa-magnifying-glass,
.fa-location-dot,
.fa-phone {
  color: #fe4900;
}

.fa-location-dot {
  width: 16px;
}

.fa-location-crosshairs {
  color: #fff;
  font-size: 1rem;
}

.message {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.8rem;
}

.added {
  color: #00b395;
}

.removed {
  color: #b33300;
}

.definition {
  color: #292929;
}

.definition > h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.definition > h3 {
  font-size: 1.5rem;
}

.definition span {
  font-size: 1.25rem;
}

.map {
  height: 220px;
}

.new-search {
  color: #292929;
}

.new-search:hover {
  color: #fe4900;
  text-decoration: none;
}

.card-img {
  object-fit: cover;
}
